<% include partials/head %>
<title>Tafrah - Add Meetup</title>
      <div  style = 'height:30vh;' class="jumbotron MainTron">
         <p class="AddPageTitle" >Start a new event!</p>
      </div>
      <div id="OnDisplay">

      </div>
   </body>
</html>
<!-- JQuery -->
<script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3nfuwaNpvJldXYFHprFU0QwD0Jwr74Oc&callback=initMap" async defer></script>
<script type="text/javascript" src="/assets/js/AddPage.js"></script>
