
   .InputForm
   {
   }
   .btn:focus {
   outline: none !important;
   box-shadow:none !important;
   }
   #OnDisplay
   {
     min-height:49.5vh;
   }
   .input-group-text
   {
   background-color: #fff !important;
   }
   .container
   {
   margin-left:0 !important;
   padding-left:0 !important;
   margin-right:0 !important;
   padding-right:0 !important;
   max-width: none !important;
   }
   .formJumbotron:col-sm
   {
   padding: 0 !important;
   margin: 0 !important;
   }
   .InputsList
   {
   padding-top:1rem;
   background-color:white;
   min-height:52vh;
   }
   .FormButton
   {
   margin-top: 1rem;
   margin-right: 1rem;
   margin-left: 1rem;
   }
   .formJumbotron{
   padding-bottom:0px;
   min-height:52vh;
   padding-top: 0px !important;
   margin-top:0px !important;
   }
   .QuestionForm
   {
   width:50%;
   margin-top: 20px;
   }
   html {
   margin: 0px;
   height: 100%;
   width: 100%;
   }
   body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   overflow-x:hidden;
   }
   .AddPageTitle
   {
   margin-top:-120px;
   text-align: center;
   font-size: 2rem;
   }
   h5
   {
   padding-top: 1rem;
   }
   .col-sm
   {
   padding-right:0px;
   padding-left:0px;
   }
   .no-padding
   {
   background-color: #e9ecef;
   }
   .no-margin
   {
      margin: 0px !important;
   }
   div#gmap {
   width: 80%;
   height: 300px;
   }
   #OnDisplay
   {
   margin-bottom:-50px;
   }